.content {
    padding: 16px;
}
.example-header-image {
    background-size: cover;
  }
  .image {
      height: 40px;
      background: cornflowerblue;
  }
  .movie-description {
    margin-top: 42px;
    color:cornflowerblue;
  }